body {
    background-image: url(https://images.pexels.com/photos/4722571/pexels-photo-4722571.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 100px;
    border-width: 10px;
    border-color: white;
}

.card-header {
    font-size: 30px;
    background-color: white;
    color: black;
}

#movieReel {
    width:30%;
    height:30%;
}
.topSelections > div{
    border:1px solid white
}