.border-light{
    
}


/* BACKGROUND UTILS */
  .bg-primary {
    background-color: #e3eae9 !important;
  }
  
  .bg-info {
    background-color: #1bbc9b !important;
  }
  
  .bg-light {
    background-color: #c5e1e0 !important;
  }
  
  .bg-dark {
    background-color: #1a1a1a !important;
  }
  
  .bg-white {
    background-color: #ffffff !important;
  }
  
  .bg-black {
    background-color: #000000 !important;
  }
  
  .bg-link {
    background-color: #1b89bc !important;
  }
  
  /* DISPLAY */
  .display-none {
    display: none !important;
  }
  
  .display-block {
    display: block !important;
  }
  
  .display-inline-block {
    display: inline-block !important;
  }
  
  .display-inline {
    display: inline !important;
  }
  
  .display-flex {
    display: flex !important;
  }
  