body {
    background-image: url(https://images.pexels.com/photos/4722571/pexels-photo-4722571.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 100px;
    border-width: 10px;
    border-color: white;
    
}

.card-header {
    font-size: 30px;
    background-color: white;
    color: black;
}

.topSelections > div{
    border:1px solid white
}

.list-group-item-dark {
    background-color: #343a40;
}

.topSelections {
    color:white;
}

.topMovieDetails {
    color: white;
}

#personBio {
    display: flex;
    align-items: center;
}
h4 {
    display:flex;
    justify-content: center;
}
footer{
    text-align: center;
    padding-top:30px;
}
footer img{
    width:2%;
    height:2%;
}
